# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
unpackage/
unpackage/dist/

# Environment variables
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.suo
*.sln
*.sw?
.hbuilderx/